In [2]:
import seaborn as sns

In [3]:
iris = sns.load_dataset('iris')
iris.shape

(150, 5)

In [6]:
iris.head()
iris.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [9]:
clms = iris.columns.tolist()

In [10]:
indices = iris.index.tolist()

In [4]:
diamonds = sns.load_dataset('diamonds')
diamonds.shape

(53940, 10)